.header-container {  
    width: 100vw; 
    height: 10vh;  
    background: linear-gradient(240deg, rgba(199, 159, 39) 0%, rgba(255, 255, 255) 270%);   
}

.header { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit; 
    height: inherit; 
}

.header-title { 
    color: white;  
    -webkit-text-stroke: 1px black;     
    font-size: 5vh;                                                                                                                                         
}

