.results-container { 
    height: inherit; 
    width: 60vw;  
    color: black;  
    font-size: 2vh;    
    overflow: scroll;                                                                                                                         
}