.results-container { 
    height: inherit; 
    width: 60vw;  
    color: black; 
    -webkit-text-stroke: .5px black;    
    font-size: 2vh;    
    overflow: scroll                                                                                                                                  
}