.result { 
    height: 20vh; 
    width: inherit; 
    color: black;
    background-color: white;
    border-top: 1vh black solid;
    border-right: 1vh black solid;
    border-left: 1vh black solid;
    border-bottom: .5vh black solid; 
    display: flex; 
    flex-direction: row;
    overflow: clip; 
}

.movie-info { 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    padding: 5vh;  
    width: 70vw; 
    height: inherit;
    justify-content: space-between; 
    overflow: hidden; 
} 

.result-title { 
    font-size: 3vh;
    font-weight: 800;
}

.result-year { 
    font-size: 3vh;
    font-weight: 300;
}

.movie-button-container { 
    height: 16vh; 
    min-width: 12vw; 
    display: flex; 
    justify-content: space-around;
    position: relative;
}

.movie-button { 
    height: 100%; 
    width: 100%; 
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 1vh;
    right: 2vh; 
}

.movie-button:hover { 
    transform: scale(1.05);  
    box-shadow: 0 0 2vh rgb(199, 159, 39);
    border: 1px solid rgb(199, 159, 39);
}