#search-bar {  
    width: 25vw;
    height: 5vh;
    margin: 5vh;
    padding: 1vh; 
    border-radius: 5rem;
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

#search-bar:focus { 
    box-shadow: 0 0 25px rgb(199, 159, 39);
    padding: 1vh;
    margin: 5vh;
    border: 1px solid rgb(199, 159, 39);
}
