.subheader-container { 
    display: flex;   
    height: 8vh; 
    align-items: center; 
    background: linear-gradient(240deg, rgba(199, 159, 39) 0%, rgba(255, 255, 255) 270%);     
    color: white;   
    -webkit-text-stroke: .07vh black;      
    font-size: 2.5vh;        
    border: .5vh black solid;                                                                                                                                  
}

.search-results-title {  
    width: 60vw;  
    padding: 5vh;     
}

.nominations-title { 
    width: 40vw; 
    padding: 5vh;
}