* { 
    border: red 1px dotted; 
}

li { 
    list-style-type: none;
}

.app-container { 
    height: 100vh; 
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
}

.header-container { 
    min-width: 100vw; 
    min-height: 15vh;
}

.header { 
    width: auto; 
    height: 15vh; 
    background-color: black; 
}

.search-bar-container { 
    display: flex; 
    justify-content: center; 
}

.result-nod-container { 
    display: flex;    
}

